.dl_thumb_slider_nav_wrapper {
    position: relative;
}

.dl_thumb_slider_wrapper {
    .dl_swiper_thumb_inner {
        position: relative;
        display: flex;
        align-items: center;
        padding: 12px;

        .dl_swiper_navcontent {
            margin-left: 14px;
        }
        img{
            max-width: 60px;
        }
        .dl_slider_tag {
            font-weight: 600;
            font-size: 12px;
            color: #ACADAD;
            margin-bottom: 5px;
        }

        .dl_swiper_thumb_title {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #FFFFFF;
            margin-bottom: 0;
        }
    }

    .swiper-slide-active {
        .dl_swiper_thumb_inner {
            background-color: #131415;
        }
        .dl_slider_tag {
            color: #fff;
        }
    }

    .swiper-slide-active {
        &:hover {
            .dl_slider_thumb {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .dl_thumb_content {
            bottom: 0;
            opacity: 1;
            visibility: visible;
        }
    }

    position: relative;

    .dl_thumb_slider_inner {
        position: relative;
        z-index: 1;
    }

    .dl_slider_thumb {
        height: 635px;
        display: block;
        width: 100%;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transform_time(.3s);
        }
    }

    .dl_thumb_content {
        position: absolute;
        padding: 58px 50px;
        bottom: -20px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        @include transform_time(.3s);
    }

    .dl_slider_meta {
        font-weight: 500;
        font-size: 14px;
        color: #ECECEC;
        margin-bottom: 7px;

        a {
            color: #ECECEC;
        }
    }

    .dl_slider_title {
        font-size: 28px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 0;

        a {
            color: $white;
        }
    }

    .dl_thumb_slider_nav_width {
        position: relative;
    }

    .dl_swiper_navigation {
        .dl_slider_next,
        .dl_slider_prev {
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 9;
            i{
                font-size: 35px;
            }
        }

        .dl_slider_next {
            left: auto;
            right: 30px;
        }
    }

    &.dl_thumb_slider_style_01 {
        .dl_thumb_slider_nav {
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            max-height: 400px;
            @media #{$tab}{
                display: none;
            }
        }
    }

    &.dl_thumb_slider_style_02 {
        .dl_thumb_slider_inner {
            background-color: #FFF2F2;
            width: 77%;
        }

        .dl_carousel_img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }

        .dl_image_carousel_content {
            padding: 155px 40px;
            text-align: center;
        }

        .dl_title {
            font-size: 38px;
            font-weight: 500;
            color: #111;
            margin-bottom: 20px;
        }

        .dl_content {
            color: #000;
            font-family: $pf_font;
            font-style: italic;
            font-size: 19px;
            margin-bottom: 20px;
        }

        .dl_desc {
            margin-bottom: 20px;
        }
        .dl_swiper_navigation{
            .dl_slider_prev, .dl_slider_next{
                width: 50px;
                height: 50px;
                background-color: #FAFAFA;
                color: #605C5C;
                display: flex;
                align-items: center;
                justify-content: center;
                left: -30px;
                i{
                    font-size: 16px;
                }
                &:hover{
                    color: #000000;
                }
            }
            .dl_slider_prev{
                left: -80px;
            }
            .dl_slider_next{
                left: auto;
                right: -80px;
            }
        }
    }

    &.dl_thumb_slider_style_03 {
        .dl_thumb_slider_nav_wrapper {
            background-color: #26292B;
            padding: 23px 0;
        }

        .dl_thumb_slider_nav_width {
            max-width: 1150px;
            margin: 0 auto;
        }
    }

    &.dl_thumb_slider_style_04 {
        .dl_thumb_slider_nav_width {
            max-width: 960px;
            margin: 0 auto;
            margin-top: 30px;
            position: relative;
        }

        .dl_thumb_slider_main {
            max-width: 1110px;
        }

        .dl_swiper_thumb_inner {
            padding: 0;
            border: 1px solid transparent;
            border-radius: 7px;

            img {
                border-radius: 5px;
                max-width: 120px;
            }
        }

        .swiper-slide-active .dl_swiper_thumb_inner {
            background-color: transparent;
            border: 1px solid #FF0000;
        }
        .dl_swiper_navigation{
            .dl_swiper_button_next, .dl_swiper_button_prev{
                position: absolute;
                left: -75px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                i{
                    font-size: 34px;
                    color: #A9B2B7;
                    @include transform_time(.3s);
                }
                &:hover{
                    i{
                        color: #677076;
                    }
                }
            }
            .dl_swiper_button_next{
                left: auto;
                right: -75px;
            }
            .dl_main_swiper_button_next, .dl_main_swiper_button_prev{
                height: 50px;
                width: 50px;
                border: 1px solid #fff;
                background-color: transparent;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 25px;
                top: 45%;
                transform: translateX(-50%);
                z-index: 2;
                cursor: pointer;
                &:hover{
                    background-color: $white;
                    color: $heading_color;
                }
            }
            .dl_main_swiper_button_next{
                left: auto;
                right: -25px;
            }
        }
    }

    &.dl_thumb_slider_style_05 {
        position: relative;

        .dl_thumb_slider_nav_width {
            max-width: 960px;
            margin: 0 auto;
            margin-top: 30px;
        }

        .dl_thumb_slider_main {
            max-width: 1110px;
        }

        .dl_swiper_thumb_inner {
            padding: 0;
            border-radius: 5px;
            border: 1px solid transparent;
            img {
                border-radius: 7px;
                max-width: 120px;
            }
        }

        .swiper-slide-active .dl_swiper_thumb_inner {
            background-color: transparent;
        }

        .dl_thumb_slider_nav_wrapper {
            position: absolute;
            left: 0;
            bottom: 40px;
            width: 100%;
            z-index: 8;
            right: 0;
            margin: 0 auto;
        }
        .dl_swiper_navigation{
            .dl_swiper_button_next, .dl_swiper_button_prev{
                position: absolute;
                left: -50px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                i{
                    font-size: 34px;
                    color: #A9B2B7;
                    @include transform_time(.3s);
                }
                &:hover{
                    i{
                        color: #fff;
                    }
                }
            }
            .dl_swiper_button_next{
                left: auto;
                right: -50px;
            }
        }
        .swiper-slide-active{
            .dl_swiper_thumb_inner{
                border: 1px solid #FF0000;
            }
        }
    }
    &.dl_thumb_slider_style_06 {
        .dl_thumb_slider_nav {
            position: absolute;
            left: 80px;
            top: 50%;
            transform: translateY(-50%);
            max-height: 470px;
        }
        .swiper-slide-active .dl_swiper_thumb_inner {
            background-color: transparent;
        }
        .dl_swiper_thumb_inner {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0;
            img{
                max-width: 105px;
            }
        }
        .swiper-slide-active{
            .dl_swiper_thumb_inner{
                border: 0px solid transparent !important;
                img{
                    border: 1px solid #FF0000;
                }
            }
        }
    }
    .dl_video_popup{
        display: inline-block;
    }
}

.dl_slider_var_controler{
    position: relative;
    .dl_swiper_button_next, .dl_swiper_button_prev{
        position: absolute;
        left: 120px;
        bottom: 35px;
        z-index: 8;
        cursor: pointer;
        i{
            color: $white;
        }
    }
    .dl_swiper_button_prev{
        bottom: auto;
        top: 35px;
    }
}

//thumb slider content wrapper style
.dl_thumb_slider_content_wrapper {
    position: relative;
    z-index: 3;
    &.dl_slider_overlay{
        &:after{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .3);
            z-index: 2;
        }
    }
    .dl_thumb_slider_content_inner {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 100px 134px;
        z-index: 3;
        .dl_slider_title {
            font-weight: 500;
            font-size: 45px;
            line-height: 60px;
            color: #FFFFFF;
            margin-bottom: 12px;
        }
        .dl_slider_desc {
            font-size: 19px;
            line-height: 32px;
            color: #FFFFFF;
            font-weight: 400;
        }
    }
    &.swiper-slide-active {
        .dl_thumb_slider_content_inner {
            .dl_slider_title {
                animation: fadeInLeft .6s both .8s;
            }
            .dl_slider_desc {
                animation: fadeInLeft .8s both 1s;
            }
        }
    }
    &.dl_thumb_wrapper_style_02{
        .dl_thumb_slider_content_inner{
            text-align: center;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 40%;
        }
    }
    &.dl_thumb_wrapper_style_03{
        .dl_thumb_slider_content_inner{
            text-align: center;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);
            .play_icon{
                max-width: 90px
            }
        }
    }
}

//slider inner style 01 style
.dl_slider_inner_style_01 {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
    .dl_slide_img {
        display: inline-flex;
        position: relative;
        width: 100%;
        z-index: 1;
        &:after{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.3;
        }
        img {
            width: 100%;
            -webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
            transition: all .25s cubic-bezier(.645, .045, .355, 1);
        }
    }

    .dl_thumb_slider_inner_content {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        z-index: 8;
    }

    .dl_slide_tag {
        font-size: 14px;
        color: #1EA8FF;
        background-color: $white;
        padding: 7px 20px;
        border-radius: 5px;
    }

    .dl_slide_title {
        font-size: 32px;
        font-weight: 700;
        margin-top: 12px;

        a {
            color: $white;
        }
    }

    // &:hover {
    //     .dl_slide_img {
    //         img {
    //             transform: scale(1.1);
    //         }
    //     }
    // }
}
.dl_thumb_slider_controler_style_01{
    .dl_swiper_navigation{
        .dl_swiper_button_prev{
            left: -15%;
        }
        .dl_swiper_button_next{
            left: auto;
            right: -15%;
        }
    }
}

//slider inner style 02 style
.dl_slider_inner_style_02 {
    display: contents;
    height: 100vh;

    .dl_slide_img {
        float: right;
        display: inline-block;
        width: 842px;
        height: 590px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transform_time(.3s);
        }
    }


    // &:hover {
    //     .dl_slide_img {
    //         img {
    //             transform: scale(1.1);
    //         }
    //     }
    // }
    .dl_thumb_slider_inner_content {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 8;
    }

    .dl_slide_title {
        color: #111;
        font-weight: 700;
        font-size: 75px;
        line-height: 98px;
        letter-spacing: 5px;
        overflow: hidden;
        display: block;

        span {
            display: block;
            line-height: 1;
            margin: 9px 0;
            color: #111;
        }
    }

    .dl_slide_tag {
        overflow: hidden;
        display: block;

        span {
            overflow: hidden;
            display: block;
        }
    }
}

.swiper-slide {
    .dl_slider_inner_style_02 {
        opacity: 0;
        visibility: hidden;
    }

    &.swiper-slide-active {
        .dl_slider_inner_style_02 {
            opacity: 1;
            visibility: visible;

            .dl_slide_title {
                overflow: hidden;

                span {
                    animation: fadeInUp2 .8s both 1s;
                }
            }

            .dl_slide_tag {
                span {
                    animation: fadeInUp2 .8s both 1s;
                }
            }
        }
    }
}

//slider inner style 03 style
.dl_slider_inner_style_03 {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;

    .dl_thumb_slider_inner_content {
        flex: 50% 0 0;
    }

    .dl_slide_title {
        font-weight: 700;
        font-size: 45px;
        line-height: 65px;
        color: #010104;
    }

    .dl_slide_desc {
        color: #47474A;
    }

    .dl_slider_thumb_wrapper {
        flex: 50% 0 0;
    }

    .dl_cu_btn {
        background-color: #007B64;
        border-radius: 50px;
        border: 1px solid #007B64;
        margin-top: 40px;
    }
}

.swiper-slide-active {
    .dl_slider_inner_style_03 {
        opacity: 1;
        visibility: visible;

        .dl_slide_title {
            animation: slideInLeft .6s both .8s;
        }

        .dl_slide_desc {
            animation: slideInLeft .8s both 1s;
        }

        .dl_cu_btn {
            animation: slideInLeft 1s both 1.2s;
        }

        .dl_slider_thumb_wrapper {
            animation: fadeInDown 1s both 1.2s;
        }
    }
}

.dl_thumb_slider_controler {
    .dl_swiper_button_prev,
    .dl_swiper_button_next {
        position: absolute;
        left: -20%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        i {
            font-size: 40px;
            color: #A9B2B7;
        }
    }
    .dl_swiper_button_next {
        left: auto;
        right: -20%;
    }
}

//slider inner style 04 style
.dl_slider_inner_style_04 {
    text-align: center;
    padding: 220px 100px;
    width: 100%;
    display: block;

    .dl_slide_tag {
        font-weight: 500;
        font-size: 18px;
        line-height: 38px;
        color: #FFFFFF;
        display: inline-block;
        margin-bottom: 10px;
        line-height: 1;
    }

    .dl_slide_title {
        font-weight: 500;
        font-size: 32px;
        color: #fff;
    }

    .dl_slide_desc {
        color: #fff;
    }

    .dl_cu_btn {
        margin-top: 35px;
    }
}

.swiper-slide-active {
    .dl_slider_inner_style_04 {
        .dl_slide_tag {
            animation: fadeInRight .6s both .8s;
        }

        .dl_slide_title {
            animation: fadeInRight .6s both .8s;
        }

        .dl_slide_desc {
            animation: fadeInRight .8s both 1s;
        }

        .dl_cu_btn {
            animation: fadeInRight 1s both 1.2s;
        }
    }
}

.dl_thumb_slider_controler {

    .dl_swiper_button_prev,
    .dl_swiper_button_next {
        position: absolute;
        left: -20%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        i {
            font-size: 40px;
            color: #A9B2B7;
        }
    }

    .dl_swiper_button_next {
        left: auto;
        right: -20%;
    }

    &.dl_controler_style_02 {

        .dl_swiper_button_prev,
        .dl_swiper_button_next {
            left: -5%;

            i {
                font-size: 27px;
                color: #DCD1D1;

                &:hover {
                    color: #DCD1D1;
                }
            }
        }

        .dl_swiper_button_next {
            left: auto;
            right: -5%;
        }
    }
}

.dl_swiper_covereffect {
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 370px;
        height: 556px;
        display: flex;
        align-items: center;
    }
}